/* .crick h5{
    border: 2px solid black;
    font-size: 20px;
}



form #fName{
    position: absolute;
    width: 170px;
    top: 20px;
    left: 140px;
    padding: 10px;
}
form #lName{
    width: 170px;
    position: absolute;
    top: 20px;
    left: 320px;
    padding: 10px;
}

form #email{
    position: absolute;
    width: 350px;
    top: 90px;
    left: 140px;
    padding: 10px;
}

form #phone{
    position: absolute;
    width: 350px;
    top: 160px;
    left: 140px;
    padding: 10px;
}

form #ageBar{
    position: absolute;
    width: 350px;
    top: 230px;
    left: 140px;
    padding: 10px;
}

form .state{
    position: absolute;
    width: 350px;
    top: 290px;
    left: 140px;
    padding: 10px;
}

form .country{
    position: absolute;
    width: 350px;
    top: 330px;
    left: 140px;
    padding: 10px;
}

form #address{
    position: absolute;
    width: 350px;
    top: 390px;
    left: 140px;
    padding: 10px;
}

form #tags{
    position: absolute;
    width: 350px;
    top: 460px;
    left: 140px;
    padding: 10px;
}

.crick{
    position: absolute;
    width: 350px;
    top: 490px;
    left: 140px;
    padding: 10px;
}

.btnO{
    position: absolute;
    width: 350px;
    top: 550px;
    left: 140px;
    padding: 10px;
}
.btnO .cancel{
    padding: 10px;
    width: 80px;
    margin-right: 40px;
}
.btnO .submit{
    padding: 10px;
    width: 80px;
    background-color: royalblue;
}
*/
 
