<div class="home-container">
  <div class="background-image"></div>
  <!-- Your page content goes here -->

  <h3>I AM Looking For...</h3>

  <input type="text" id="inputbox" placeholder="Enter job description" />
  <button class="btnSearch">Search</button>

  <br />

  <div class="container">
    <input type="checkbox" />
    <h6>Full Time</h6>

    <input type="checkbox" />
    <h6>Part Time/Casual/Freelancer</h6>

    <div class="dropdown">
      <a
        class="btn btn-white dropdown-toggle"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Select Your Loaction
      </a>

      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <button class="btnRegister" (click)="openDialog()">Register</button>
</div>

<div class="container-2">
  <h4>We're leaders in</h4>
  <h2>Creating Digital Recruitment</h2>
  <hr>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos consequuntur
    <span>doloribus excepturi iusto. Ipsa, odit soluta quaerat sit eaque inventore?</span>
  </p>
  <br />
  <button>FIND OUT MORE ABOUT US!</button>
</div>
